---
Checks:          '*,-modernize-use-trailing-return-type,-fuchsia-overloaded-operator,-fuchsia-default-arguments-calls,-llvmlibc-restrict-system-libc-headers'
WarningsAsErrors: '1'
HeaderFilterRegex: ''
FormatStyle:     'webkit'
...
